  .module-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    padding: 0.5rem;
    color: #fff;
  }
  
  .module:nth-child(odd) .module-title {
    background-color: #607AD6;
  }
  
  .module:nth-child(even) .module-title {
    background-color: #DB664C;
  }
  
  .card {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    overflow: hidden;
    width: 150px;
    height: 120px;
  }
  
  .card:hover {
    border: 1px solid white;
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .card-body {
    text-align: center;
    padding: 2rem 1rem;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    padding: 0px;
    width: 150px;
    height: 120px;
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    z-index: 2;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    z-index: 1;
  }
  
  .bg-warning {
    background-color: #FFEB3B !important;
    color: #673AB7;
  }
  
  .bg-light {
    background-color: #E0E0E0 !important;
    color: #F28B82;
  }
  
  .footer {
    font-size: 0.8rem;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 0.5rem;
   
  }
  
  .social-icons a:hover {
    color: #4B9CD3;
  }
  
  .header {
    background: #267E64;
    font-size: 1.2rem;
  }
  
  .logoImg {
    height: 55px;
    width: 150px;
  }
  
  .navbar .nav-link {
    color: #ffffff
  }
  
  .navbar .nav-link:hover {
    color: #cccccc
  }
  
  /*Footer*/
  .footer {
    background-color: #3C3744;
    color: #fff;
    padding: 20px 0;
    font-size: 1rem;
  }
  
  .footer h5 {
    font-size: 1.2rem;
  }
  
  .footer .social-icons a {
    color: #fff;
    font-size: 1rem;
    margin: 0 5px;
  }
  
  .footer .btn-contact {
    background-color: #9F41F3;
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
  }
  
  .links{
    text-decoration: none;
    color: white;
    
  }
  .links:hover{
    color: rgb(153, 37, 243);
  }
  
  .buttonHover:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.2s;
  }

  .link-contact{
    text-decoration: none;
    color: #fff;
  }