body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: linear-gradient(to left, rgb(198, 238, 194), rgb(255, 182, 250), rgb(252, 200, 116));
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}


/*Carrosel*/
main {
    height:650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgSlider{
    height: 100%;
    width: 100%;
  }

  .swiper {
    width: 80%;

  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/*Fim carrosel*/
/*Button*/
.divButton {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom:40px;
}

.cssButtons {
    cursor: pointer;
    background: #8B16C2;
    border-radius: 7px;
    border: none;
    height: 55px;
    width: 220px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    transition: background-color 0.3s, transform 0.2s;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

.cssButtons:hover {
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 1px rgba(40, 216, 113, 0.5);
}

/*Transição padrão pra buttons*/
.cssButtons:active {
    background: #633499;
    transition: 0.3s;
    border: 1px solid #fff;
}

/*Fim Buttons*/
/*Titulo*/
.divTitulo {
    width: 100%;
    height: 80px;
    background:#f2f7bd;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
}

.divTitulo h1{
    color: #155a41;
    border: none;
    font-family: 'Jersey 10', sans-serif;
    font-size: 75px;
    letter-spacing: 4px;
}


/*Keyframes*/
/*Faz o botão ficar em uma animação de loop que aumenta e diminui ele: */
@keyframes botao {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.2);
    }
}
/*Animação do background*/
@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}
/*Responsividade*/
@media (max-width: 450px) {
    .swiper {
      height: 270px;
    }
  }
  